<link rel="stylesheet" href="products.component.css">
<div class="products-container">
  @if (loadingProducts) {
    <div class="spinner_container">
      <app-spinner/>
    </div>

  } @else if (products && !loadingProducts) {
    <h4>{{ this.categoryName }}</h4>
    <div class="card_container">
      @for (product of products; track product._id) {
        <app-product-card
          [product]="product"
          (click)="navigateToProduct(product.goodID)"
        />
      }
    </div>
  }

  @if (pageInfo) {
    <app-paginator (pageChange)="onPageChange($event)" [pageInfo]="pageInfo"></app-paginator>
  }
</div>


