.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  flex: 1;
  gap: 10px;
}

.menu {
  background-color: #9d9999;
  padding: 10px;
}

.content {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.footer {
  height: 160px;
  background-image: url("/assets/img/Chimney and posts.jpg");
  background-repeat: repeat;
  background-size: contain;
  margin-top: auto;
}
