.example-card {
  max-width: 300px;
  height: 100%;
}

.card_img {
  width: 100%; /* Изображение растягивается по ширине карточки */
  height: 200px; /* Фиксированная высота */
  object-fit: contain; /* Масштабировать изображение по высоте и ширине, сохраняя пропорции */
  /*object-position: center; !* Центрировать изображение, если оно обрезается *!*/
}
