@if (loadingProduct) {
  <div class="spinner_container">
    <app-spinner/>
  </div>
} @else if (product && !loadingProduct) {
  <div class="product_container">
    <mat-card class="example-card">

      <img mat-card-image [src]="productImage(product.images)" [alt]="product.name">
      <mat-card-content>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <p>Цена: {{ product.price }}</p>
        <p>{{ product.size }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="this.addProductToShoppingCard({
        sessionKey: sessionKey,
        product_id: product.goodID,
        action:'increase'
        })" mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
}
