.example-spacer {
  flex: 1 1 auto;
}

.tool-bar {
  background-image: url("/assets/img/Chimney and posts.jpg");
  background-repeat: repeat;
  background-size: contain;
  height: 160px;

}

.logo {
  max-width: 150px;
  display: block;
}
